<!DOCTYPE html>
<html>
<head>
  <title>Paste</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="main_area">
  <%= render :partial => 'layouts/header' %>
  <%= yield %>
  <%= render :partial => 'layouts/footer' %>
</div>
</body>
</html>
